{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--
	Metronic by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">  <!--<![endif]-->
<head>

    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!-- Title -->
    <title>{% block title %}{% endblock %}</title>


    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.{{ LANGUAGE_CODE }}.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vegas.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}"/>

    <!-- Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&amp;subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>


    <!-- JS -->
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/snap.svg-min.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://webnextbd.net/demo/js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 11]>
    <link rel="stylesheet" type="text/css" href="http://webnextbd.net/demo/css/ie.css">
    <![endif]-->

</head>
<body class="image-background">

<!-- Preloader -->
<div id="preloader">
    <div id="loading-animation">&nbsp;</div>
</div>
<!-- /Preloader -->

<!-- Overlay -->
<div id="section-home" class="home-section-wrap center">
    <div class="section-overlay"></div>
</div>
<!-- /Overlay -->

<!-- container -->
<div class="containers">
    <!-- menu -->
    <nav id="menu" class="menu">
        <button class="menu__handle"><span>{% trans 'Menu' %}</span></button>
        <div class="menu__inner">
            <ul>
                <li><a href="{% url 'frontend:index' %}"><i class="fa fa-fw fa-home"></i><span>{% trans 'Home' %}</span></a></li>
                <li><a href="{% url 'frontend:about_us' %}"><i class="fa fa-fw fa-info"></i><span>{% trans 'About Us' %}</span></a></li>
                <li><a href="{% url 'frontend:team' %}"><i class="fa fa-fw fa-users"></i><span>{% trans 'Team' %}</span></a></li>
                <li><a href="{% url 'frontend:product' %}"><i class="fa fa-fw fa-gear"></i><span>{% trans 'Our product' %}</span></a></li>
                {# <li><a href="{% url 'frontend:contact_us' %}"><i class="fa fa-fw fa-envelope"></i><span>{% trans 'Contact' %}</span></a></li> #}
            </ul>
        </div>
        <div class="morph-shape" data-morph-open="M300-10c0,0,295,164,295,410c0,232-295,410-295,410"
             data-morph-close="M300-10C300-10,5,154,5,400c0,232,295,410,295,410">
            <svg width="100%" height="100%" viewBox="0 0 600 800" preserveAspectRatio="none">
                <path fill="none" d="M300-10c0,0,0,164,0,410c0,232,0,410,0,410"/>
            </svg>
        </div>
    </nav><!-- /menu -->

    <!-- main -->
    <div class="main">
        <!-- header -->
        <header class="header-site">
            <div class="logo-site animated bounceInDown" data-animation-delay="700">
                <img class="img-responsive" src="{% static 'images/logo.png' %}" data-at2x="{% static 'images/logo.png' %}"
                     alt="Logo"/>
            </div>
        </header>
        <!-- /header -->

        <!-- section -->
        <section class="section fullscreen site-main">
            {% block content %}
                {% block footer %}
                    <footer class="copy-right animated bounceInUp"
                            data-animation-delay="700">
                        <div class="copyright">
                            © {% now 'Y' %} <a href="http://templatestock.co">Template Stock</a> -
                            {% trans 'All Rights Reserved' %}
                        </div>
                    </footer>
                {% endblock %}
            {% endblock %}
        </section><!-- /section -->
    </div><!-- /main -->
</div><!-- /container -->

<!-- JS -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/retina.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.parallaxify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.particleground.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vegas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trianglify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>

</body>
</html>