{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
<!DOCTYPE html>
<!--
	Metronic by TEMPLATE STOCK
	templatestock.co @templatestock
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->


<!DOCTYPE html>
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en-US"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en-US"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en-US">  <!--<![endif]-->
<head>

    <!-- META DATA -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Title -->
    <title>Unilot | {% block title %}{% endblock %}</title>


    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% get_static_prefix %}css/style.{{ LANGUAGE_CODE }}.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ionicons.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/animate.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/flexslider.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.carousel.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/owl.theme.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/vegas.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/sidebar.css' %}"/>

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,700italic,400,300,700&amp;subset=latin,latin-ext'
          rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,300,700,900' rel='stylesheet' type='text/css'>


    <!-- JS -->
    <script type="text/javascript" src="{% static 'js/modernizr.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/snap.svg-min.js' %}"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://webnextbd.net/demo/js/respond.min.js"></script>
    <![endif]-->

    <!--[if lt IE 11]>
    <link rel="stylesheet" type="text/css" href="http://webnextbd.net/demo/css/ie.css">
    <![endif]-->
</head>
<body class="image-background">

<!-- Preloader -->
<div id="preloader">
    <div id="loading-animation">&nbsp;</div>
</div>
<!-- /Preloader -->

<!-- container -->
<div class="containers">

    <!-- main -->
    <div class="main">
        <!-- header -->
        <header class="header-site">
            <div class="logo-site animated bounceInDown" data-animation-delay="700">
                <img class="img-responsive" src="{% static 'images/logo.png' %}" data-at2x="{% static 'images/logo.png' %}"
                     alt="Logo"/>
            </div>
        </header>
        <!-- /header -->

        <!-- section -->
        <section class="section fullscreen site-main">
            {% block content %}
                {% block footer %}
                    <footer class="copy-right animated bounceInUp"
                            data-animation-delay="700">
                        <div class="copyright">
                            © {% now 'Y' %} <a href="http://templatestock.co">Template Stock</a> -
                            {% trans 'All Rights Reserved' %}
                        </div>
                    </footer>
                {% endblock %}
            {% endblock %}
        </section><!-- /section -->
    </div><!-- /main -->
</div><!-- /container -->

<!-- JS -->
<script type="text/javascript" src="{% static 'js/jquery-1.11.3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/retina.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.backstretch.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.parallaxify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.particleground.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/vegas.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/trianglify.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.mb.YTPlayer.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.flexslider-min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/owl.carousel.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.appear.js' %}"></script>
<script type="text/javascript" src="{% static 'js/classie.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sidebar.js' %}"></script>
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% if request.get_host == 'unilot.io' %}
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109149155-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-109149155-1');
</script>
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter46518084 = new Ya.Metrika({
                    id:46518084,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/watch.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/46518084" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>