{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{% trans 'About Us' %}{% endblock %}
{% block content %}
<div class="container-section">
    <div class="container-table">
        <div class="content-table">
            <!-- bt-carousel -->
            <div class="bt-carousel">

                <!-- about section -->
                <div class="item-slide show">
                    <!-- container -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">

                                <!-- header section -->
                                <div class="header-section animated bounceInDown" data-animation-delay="700">
                                    <!-- title section -->
                                    <h2 class="title-section">{% trans 'About Us' %}</h2><!-- /title section -->
                                    <div class="line-separate line-white line-center"><span></span></div>
                                </div>
                                <!-- /header section -->

                                <!-- content slide -->
                                <div class="content-slide aboutus">
                                    <div class="row">
                                        <div class="col-xs-12 col-md-6 animated bounceInLeft"
                                             data-animation-delay="700">
                                            <h3>our story</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                                veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                                                commodo consequat.Lorem ipsum dolor sit amet, consectetur adipisicing
                                                elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                                                aliqua.</p>
                                        </div><!-- /col-xs-12 col-md-6 -->

                                        <!-- video section -->
                                        <div class="col-xs-12 col-md-6 video-section animated bounceInRight"
                                             data-animation-delay="700">
                                                <h3>{% trans 'Our presentation' %}</h3>
                                                <ul>
                                                    <li><a href="#">Unilot.ru.pdf</a></li>
                                                    <li><a href="#">Unilot.en.pdf</a></li>
                                                </ul>
                                        </div><!-- /video section -->
                                    </div><!-- /row -->

                                </div><!-- /content slide -->
                            </div>
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div>
                <!-- about section -->

            </div><!-- /bt-carousel -->
        </div>
    </div>
</div>
{% endblock %}