{% extends 'base/base.html' %}
{% load i18n %}

{% block title %}Home page{% endblock %}

{% block content %}
    <div class="container-section">
        <div class="container-table">
            <div class="content-table">
                <!-- bt-carousel -->
                <div class="bt-carousel">

                    <!-- home section -->
                    <div class="item-slide show">
                        <!-- container -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">

                                    <!-- content slide -->
                                    <div class="content-slide">
                                        <!-- Clock Countdown -->
                                        <div id="clock-countdown" class="animated bounceInDown"
                                             data-animation-delay="700"></div>
                                        <h3 class="color-white top-margin animated bounceInDown"
                                            data-animation-delay="700">{% trans 'Our website is under construction. We`ll be here soon with our new awesome site, subscribe to be notified.' %}</h3>

                                        <!-- Subscribe Form -->
                                        <div class="form animated bounceInUp" data-animation-delay="700">
                                            <!-- container form -->
                                            <div class="container-form">
                                                <!-- section page -->
                                                <div class="section-page" id="signup">
                                                    <form class="subscription-form mailchimp" method="post"
                                                          id="mc-form">
                                                        <input type="email" id="email"
                                                               class="border-radius-22 bottom-margin"
                                                               name="email"
                                                               placeholder="{% trans 'Enter Your Email Address' %}"/>
                                                        <button type="submit" id="subscribebtn"
                                                                class="border-button no-bottom-margin">{% trans 'Subscribe' %}
                                                        </button>
                                                    </form>
                                                    <p class="message-error"></p>
                                                    <p class="message-success"></p>
                                                </div><!-- /section page -->
                                            </div><!-- /container form -->
                                        </div><!-- /Subscribe Form -->

                                        <!-- socials icons -->
                                        <nav class="socials-icons animated bounceInUp"
                                             data-animation-delay="700">
                                            <ul>
                                                <li><a href="https://www.facebook.com/unilot.io/"><i class="ion-social-facebook"></i></a></li>
                                                <li><a href="https://twitter.com/unilot_lottery"><i class="ion-social-twitter"></i></a></li>
                                                <li><a href="https://www.reddit.com/user/unilot_lottery/"><i class="ion-social-reddit"></i></a></li>
                                                <li><a href="https://www.linkedin.com/company/18284068/"><i class="ion-social-linkedin"></i></a></li>
                                                </li>
                                            </ul>
                                        </nav><!-- /socials icons -->

                                        <!-- copyright -->
                                        {% block footer %}{{ block.super }}{% endblock %}<!-- /copyright -->

                                    </div><!-- /content slide -->
                                </div>
                            </div><!-- /row -->
                        </div><!-- /container -->
                    </div>
                    <!-- /home section -->

                </div><!-- /bt-carousel -->
            </div>
        </div>
    </div>
{% endblock %}
