{% extends 'base/base.html' %}
{% load i18n %}
{% block title %}{% trans 'About Us' %}{% endblock %}
{% block content %}
    <div class="container-section">
        <div class="container-table">
            <div class="content-table">
                <!-- bt-carousel -->
                <div class="bt-carousel">

                    <!-- services section -->
                    <div class="item-slide show">
                        <!-- container -->
                        <div class="container">
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">

                                    <!-- header section -->
                                    <div class="header-section animated bounceInDown" data-animation-delay="700">
                                        <!-- title section -->
                                        <h2 class="title-section">Our Services</h2><!-- /title section -->
                                        <div class="line-separate line-white line-center"><span></span></div>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                            consequat.</p>
                                    </div>
                                    <!-- /header section -->

                                    <!-- content slide -->
                                    <div class="content-slide">
                                        <div class="row">
                                            <div class="col-md-6 animated bounceInLeft" data-animation-delay="700">
                                                <!-- service list -->
                                                <div class="service-list">

                                                    <!-- item service -->
                                                    <div class="item-service">
                                                        <div class="service-icon">
                                                            <i class="ion-alert-circled"></i>
                                                        </div>
                                                        <div class="service-text">
                                                            <h3>Creative Design</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua.</p>
                                                        </div>
                                                    </div><!-- /item service -->

                                                    <!-- item service -->
                                                    <div class="item-service">
                                                        <div class="service-icon">
                                                            <i class="ion-android-phone-landscape"></i>
                                                        </div>
                                                        <div class="service-text">
                                                            <h3>Full Responsive</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua.</p>
                                                        </div>
                                                    </div><!-- /item service -->
                                                </div><!-- /service list -->
                                            </div><!-- /col-md-6 -->

                                            <div class="col-md-6 animated bounceInRight" data-animation-delay="700">
                                                <!-- service list -->
                                                <div class="service-list">

                                                    <!-- item service -->
                                                    <div class="item-service">
                                                        <div class="service-icon">
                                                            <i class="fa fa-code"></i>
                                                        </div>
                                                        <div class="service-text">
                                                            <h3>Friendly Code</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua.</p>
                                                        </div>
                                                    </div><!-- /item service -->

                                                    <!-- item service -->
                                                    <div class="item-service">
                                                        <div class="service-icon">
                                                            <i class="ion-ios-book"></i>
                                                        </div>
                                                        <div class="service-text">
                                                            <h3>Well Documented</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua.</p>
                                                        </div>
                                                    </div><!-- /item service -->
                                                </div><!-- /service list -->
                                            </div><!-- /col-md-6 -->
                                        </div><!-- /row -->

                                        <!-- row -->
                                        <div class="row animated bounceInUp" data-animation-delay="700">
                                            <div class="col-md-6">
                                                <!-- service list -->
                                                <div class="service-list">

                                                    <!-- item service -->
                                                    <div class="item-service">
                                                        <div class="service-icon">
                                                            <i class="ion-social-codepen-outline"></i>
                                                        </div>
                                                        <div class="service-text">
                                                            <h3>Amazing Features</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua.</p>
                                                        </div>
                                                    </div><!-- /item service -->
                                                </div><!-- /service list -->
                                            </div><!-- /col-md-6 -->

                                            <div class="col-md-6">
                                                <!-- service list -->
                                                <div class="service-list">

                                                    <!-- item service -->
                                                    <div class="item-service">
                                                        <div class="service-icon">
                                                            <i class="ion-iphone"></i>
                                                        </div>
                                                        <div class="service-text">
                                                            <h3>Friendly Support</h3>
                                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                                                sed do eiusmod tempor incididunt ut labore et dolore
                                                                magna aliqua.</p>
                                                        </div>
                                                    </div><!-- /item service -->
                                                </div><!-- /service list -->
                                            </div><!-- /col-md-6 -->
                                        </div><!-- /row -->

                                    </div><!-- /content slide -->
                                </div>
                            </div><!-- /row -->
                        </div><!-- /container -->
                    </div>
                    <!-- /services section -->

                </div><!-- /bt-carousel -->
            </div>
        </div>
    </div>
{% endblock %}