{% extends 'base/base.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Team' %}{% endblock %}
{% block content %}
<div class="container-section">
    <div class="container-table">
        <div class="content-table">
            <!-- bt-carousel -->
            <div class="bt-carousel">

                <!-- services section -->
                <div class="item-slide show">
                    <!-- container -->
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">

                                <!-- header section -->
                                <div class="header-section animated bounceInDown" data-animation-delay="700">
                                    <!-- title section -->
                                    <h2 class="title-section">{% trans 'Project Advisors' %}</h2><!-- /title section -->
                                    <div class="line-separate line-white line-center"><span></span></div>
                                </div>
                                <!-- /header section -->

                                <!-- content slide -->
                                <div class="content-slide">
                                    <div class="row animated bounceInUp team" data-animation-delay="700">
                                        <!-- Team -->
                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/advisor-legal-issues.jpg' %}"
                                                     data-at2x="{% static 'images/advisor-legal-issues@2x.jpg' %}"
                                                     alt="Unilot {% trans 'LEGAL ISSUES ADVISER' %} {% trans 'Petr Avakyan' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Petr Avakyan' %}</h4>
                                                <h6>{% trans 'LEGAL ISSUES ADVISER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/advisor-international-relation-and-business-analytics.jpg' %}"
                                                     data-at2x="{% static 'images/advisor-international-relation-and-business-analytics@2x.jpg' %}"
                                                     alt="Unilot {% trans 'INTERNATIONAL RELATION AND BUSINESS ANALYTICS ADVISOR' %} {% trans 'Timur Mukminov' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Timur Mukminov' %}</h4>
                                                <h6>{% trans 'INTERNATIONAL RELATION AND BUSINESS ANALYTICS ADVISOR' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/advisor-strategic-product-development.jpg' %}"
                                                     data-at2x="{% static 'images/advisor-strategic-product-development@2x.jpg' %}"
                                                     alt="Unilot {% trans 'STRATEGIC PRODUCT DEVELOPMENT ADVISOR' %} {% trans 'Sergey Skabelkin' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Sergey Skabelkin' %}</h4>
                                                <h6>{% trans 'STRATEGIC PRODUCT DEVELOPMENT ADVISOR' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/advisor-blockchain-technology.jpg' %}"
                                                     data-at2x="{% static 'images/advisor-blockchain-technology@2x.jpg' %}"
                                                     alt="Unilot {% trans 'BLOCKCHAIN TECHNOLOGY ADVISOR' %} {% trans 'Azamat Kurbanov' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Azamat Kurbanov' %}</h4>
                                                <h6>{% trans 'BLOCKCHAIN TECHNOLOGY ADVISOR' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/advisor-mobile-product-development-and-promotion.jpg' %}"
                                                     data-at2x="{% static 'images/advisor-mobile-product-development-and-promotion@2x.jpg' %}"
                                                     alt="Unilot {% trans 'MOBILE PRODUCT DEVELOPMENT AND PROMOTION ADVISER' %} {% trans 'Bakhram Fayzutdinov' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Bakhram Fayzutdinov' %}</h4>
                                                <h6>{% trans 'MOBILE PRODUCT DEVELOPMENT AND PROMOTION ADVISER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <!-- /Team -->
                                    </div><!-- /row -->

                                </div><!-- /content slide -->

                                <!-- header section -->
                                <div class="header-section animated bounceInDown" data-animation-delay="700">
                                    <!-- title section -->
                                    <h2 class="title-section">{% trans 'Team' %}</h2><!-- /title section -->
                                    <div class="line-separate line-white line-center"><span></span></div>
                                </div>
                                <!-- /header section -->

                                <!-- content slide -->
                                <div class="content-slide">
                                    <div class="row animated bounceInUp team" data-animation-delay="700">
                                        <!-- Team -->
                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-founder.jpg' %}"
                                                     data-at2x="{% static 'images/team-founder@2x.jpg' %}"
                                                     alt="Unilot {% trans 'FOUNDER' %} {% trans 'Ilya Sohn' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Ilya Sohn' %}</h4>
                                                <h6>{% trans 'FOUNDER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-smart-contract-developer.jpg' %}"
                                                     data-at2x="{% static 'images/team-smart-contract-developer@2x.jpg' %}"
                                                     alt="Unilot {% trans 'SMART CONTRACTS DEVELOPER' %} {% trans 'Lushnikov Alexander' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Lushnikov Alexander' %}</h4>
                                                <h6>{% trans 'SMART CONTRACTS DEVELOPER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-senior-android-developer.jpg' %}"
                                                     data-at2x="{% static 'images/team-senior-android-developer@2x.jpg' %}"
                                                     alt="Unilot {% trans 'SENIOR ANDROID DEVELOPER' %} {% trans 'Arseniy Aganov' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Arseniy Aganov' %}</h4>
                                                <h6>{% trans 'SENIOR ANDROID DEVELOPER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-ui-ux-designer.jpg' %}"
                                                     data-at2x="{% static 'images/team-ui-ux-designer@2x.jpg' %}"
                                                     alt="Unilot {% trans 'UI/UX DESIGNER' %} {% trans 'Shovkat Kukanbayev' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Shovkat Kukanbayev' %}</h4>
                                                <h6>{% trans 'UI/UX DESIGNER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-marketing-manager.jpg' %}"
                                                     data-at2x="{% static 'images/team-marketing-manager@2x.jpg' %}"
                                                     alt="Unilot {% trans 'MARKETING MANAGER' %} {% trans 'Dar`ya Kadirova' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Dar`ya Kadirova' %}</h4>
                                                <h6>{% trans 'MARKETING MANAGER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-backend-developer.jpg' %}"
                                                     data-at2x="{% static 'images/team-backend-developer@2x.jpg' %}"
                                                     alt="Unilot {% trans 'BACKEND DEVELOPER' %} {% trans 'Azat Khuziyahmetov' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Azat Khuziyahmetov' %}</h4>
                                                <h6>{% trans 'BACKEND DEVELOPER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-seniod-ios-developer.jpg' %}"
                                                     data-at2x="{% static 'images/team-seniod-ios-developer@2x.jpg' %}"
                                                     alt="Unilot {% trans 'SENIOR IOS DEVELOPER' %} {% trans 'Bakhodir Ashirmatov' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Bakhodir Ashirmatov' %}</h4>
                                                <h6>{% trans 'SENIOR IOS DEVELOPER' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <div class="col-sm-6 team-member">
                                            <div class="panel">
                                                <img src="{% static 'images/team-pr.jpg' %}"
                                                     data-at2x="{% static 'images/team-pr@2x.jpg' %}"
                                                     alt="Unilot {% trans 'PR' %} {% trans 'Daniil Khalupskiy' %}"
                                                     class="img-circle img-responsive">
                                                <h4>{% trans 'Daniil Khalupskiy' %}</h4>
                                                <h6>{% trans 'PR' %}</h6>
                                                <a href="#"><i class="fa fa-facebook"></i></a>
                                                <a href="#"><i class="fa fa-twitter"></i></a>
                                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                            </div>
                                        </div><!-- /panel -->

                                        <!-- /Team -->
                                    </div><!-- /row -->

                                </div><!-- /content slide -->
                            </div>
                        </div><!-- /row -->
                    </div><!-- /container -->
                </div>
                <!-- /Team section -->

            </div><!-- /bt-carousel -->
        </div>
    </div>
</div>
{% endblock %}
